.header {
  :global {
    background-color: var(--indigo);
    img {
      padding-left: 0.8rem;
      width: auto;
    }
  }
}

.chart-container {
  :global {
    padding: 1rem 1rem 4rem 1rem;
    .chart-metadata {
      p {
        max-width: 50rem;
      }
      .chart-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      .chart-metadata-tags {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 6%;
        margin-bottom: 1rem;
      }
    }

    .view-list {
      display: flex;
      gap: 1rem;
      margin: 0.5rem 0 1rem 0;
    }
  }
}

.loading {
  :global {
    padding: 1rem;
    .view-list {
      span {
        display: block;
        padding: auto 12px auto;
        border-radius: 40px;
      }
      display: flex;
      gap: 16px;
      margin: 8px 0 16px 0;
    }
  }
}
