:root {
  color-scheme: light dark;
  --font-barlow: 'Barlow', sans-serif;
  --font-barlow-condensed: 'Barlow_Semi_Condensed', sans-serif;
  --font-space-mono: 'Space_Mono', ui-monospace;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;

  --font-color-light: #3e3e3e;
  --background-color-light: #fff;
  --indigo: #2d294d;
  --indigoDeep: #241e39;
  --indigoPale: #d4d3db;
  --darkGray: #3e3e3e;
  --offBlack: #1e1e1e;
  --lightGray: #fefefe;
  --mint: #1bce9d;
  --mintLight: #66d8c0;
  --mintDark: #12906d;
  --cubic-bezier: cubic-bezier(0.6, -0.18, 0.33, 1.23);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: light-dark(var(--font-color-light), var(--lightGray));
  background-color: light-dark(var(--background-color-light), var(--offBlack));
}

.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: var(--font-space-mono);
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}
