.dataset-list {
  :global {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;

    .dataset {
      padding: 1rem;
      margin-left: -1rem;
      .dataset-metadata {
        display: flex;
        justify-content: space-between;
      }
      p {
        max-height: 8.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      border-radius: 4px;
      transition: 300ms var(--cubic-bezier);
      &:hover {
        cursor: pointer;
        background-color: light-dark(var(--indigoPale), var(--indigoDeep));
      }
    }
  }
}
